@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

@font-face {
    font-family: 'SRF2';
    src: url('SharkRandomFunnyness2.woff2') format('woff2'),
        url('SharkRandomFunnyness2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#wrapper {
    width: 100vw;
    height: 100vw;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#box {
    width: calc(25vw + 50vh);
    height: 90%;
    background-color: #1ac4aa;
    border-radius: 25px;
}

#fake-box {
    width: calc(25vw + 50vh);
    height: 90%;
    position: absolute;
    pointer-events: none;
}

#start-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* display: none; */
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}


#largeheader {
    font-weight: 700;
    line-height: 8vh;
    font-size: 8vh;
    text-align: center;
    /* letter-spacing: 5px; */
}

#subheader {
    font-size: 4vh;
    text-align: center;
    margin: auto;
    max-width: 85%;
}

#susJerma {
    width: 50%;
    height: 50%;
}

#imageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#imageWrapper>img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: fill;
}

#button {
    width: auto;
    height: 10%;
    background-color: #b2376d;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 3vh; */
    font-family: 'SRF2';
    color: white;
    font-size: 9vh;
    padding: 2%;
    border: none;
    cursor: pointer;
}

#button:hover {
    background-color: #8b2d56;
}

#download-button:hover {
    background-color: #8b2d56;
}

.slideOut {
    animation: slide-out 0.25s forwards;
}

.slideIn {
    animation: slide-in 0.25s forwards;
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
        opacity: 100%;
    }

    100% {
        transform: translateX(calc(-12.5vw - 25vh));
        opacity: 0%;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(calc(12.5vw + 25vh));
        opacity: 0%;
    }

    100% {
        transform: translateX(0%);
        opacity: 100%;
    }
}

#request-page {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'SRF2';
}

#preview {
    background-color: rgb(41, 39, 39);
    width: 317px;
    height: 360px;
}

video {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#type-select {
    width: 60%;
    min-width: 4em;
    padding: 2%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #b2376d;
    border-radius: 25px;
    font-size: 5vh;
    text-align: center;
    flex-wrap: wrap;
}

#type-select>label {
    color: white;
    font-weight: bold;
    text-align: center;
    width: 25%;
}

#type-select>select {
    width: 75%;
    min-width: 300px;
    color: white;
    background-color: #8b2d56;
    border-radius: 25px;
    font-size: 5vh;
    font-family: 'SRF2';
    border: none;
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    font-family: 'SRF2';
    -moz-appearance: none;
    cursor: pointer;
}



#type-select>select>option {
    background-color: #8b2d56;
    border: none;
    text-align-last: center;
    color: white;
    border: none;
    font-size: 4vh;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 25px;
}

#type-select>select:hover {
    background-color: #fd0470;
}

#name-select {
    width: auto;
    min-width: 80%;
    padding: 2%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #b2376d;
    border-radius: 25px;
    font-size: 5vh;
    text-align: center;
    flex-wrap: wrap;
}

.name-select {
    flex: 1;
    flex-wrap: nowrap;
}

.name-select>label {
    padding-left: 2%;
    width: auto;
    color: white;
    font-weight: bold;
    text-align: center;
}

.name-select>select {
    min-width: 150px;
    color: white;
    background-color: #8b2d56;
    border-radius: 25px;
    font-size: 5vh;
    font-family: 'SRF2';
    border: none;
    text-align: center;
    text-align-last: center;
    -webkit-appearance: none;
    font-family: 'SRF2';
    -moz-appearance: none;
    width: 20%;
    cursor: pointer;
}

.name-select>select:hover {
    background-color: #fd0470;
}

.name-select>select>option {
    background-color: #8b2d56;
    border: none;
    text-align-last: center;
    color: white;
    border: none;
    font-size: 4vh;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 25px;
}

#background-overlay {
    position: absolute;
    background: radial-gradient(ellipse at center, rgba(181, 189, 200, 0) 0%, #15364e 90%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

#sliding-background {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    animation: slide 120s linear infinite;
    filter: blur(2.5px);
    z-index: -2;
}

#jerma-corner {
    width: auto;
    height: calc(25vw + 10vh);
    bottom: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
}

#jerma-corner>video {
    height: 100%;
    width: auto;
    bottom: 0;
    right: 0;
    object-fit: contain;
}

#jerma-corner>img {
    position: absolute;
    object-fit: contain;
    width: 60%;
    top: -5%;
    left: -5%;
}

@keyframes slide {
    0% {
        transform: translate(0%);
    }

    50% {
        transform: translate(-76%);
    }

    100% {
        transform: translate(0%);
    }
}

#sliding-background>img {
    flex: 1;
    width: auto;
    height: auto;
    object-fit: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.custom_window {
    position: absolute;
    z-index: 7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.custom_window.window_open {
    display: none
}

.custom_window_background {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000b5
}

.custom_window_aligner {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 450px;
    height: 500px
}

.custom_window_container {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #4f4f50;
    background-color: #3c3c3c;
    color: #fff
}

.custom_window_scroller {
    position: absolute;
    top: 57px;
    bottom: 8px;
    left: 0;
    right: 0;
    overflow: hidden auto
}

.custom_window_title {
    padding: 5px 0 5px 0;
    font-size: 2rem;
    white-space: nowrap;
    background-color: #1ac4aa;
}

.custom_window_separator {
    margin: 0 8% 10px 8%;
    height: 1px;
    background-image: linear-gradient(to right, transparent 0, #212121 20%, #212121 80%, transparent 100%)
}

.custom_window_content {
    padding: 0 20px;
    text-align: left
}

.custom_window_close_button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #b0d9ff;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    outline: 0;
    background-color: #929292;
    background-color: #7d7d7d
}

.custom_window_close_button:focus,
.custom_window_close_button:hover {
    background-color: #e0e0e0;
    background-color: #c3c3c3;
    background-color: #969696
}

.custom_window_close_button:active {
    background-color: #f3f3f3;
    background-color: #d4d4d4;
    background-color: #b1b1b1
}

.custom_window_close_button>svg {
    width: 100%;
    height: 100%
}

@media (max-width:450px) {
    .custom_window_aligner {
        width: 100vw
    }

    .custom_window_container {
        border-radius: 0
    }

    .custom_window_title {
        padding: 5px 52px 5px 10px !important
    }
}

@media (max-height:500px) {
    .custom_window_aligner {
        height: 100vh
    }
}
a {
    color: #5c7feb;
}

#about-button {
    font-family: 'Open Sans', sans-serif;
    bottom: 1%;
    left: 1%;
    position: absolute;
    padding: 1%;
    border: none;
    background-color: #1ac4aa;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
}

#about-button:hover {
    background-color:#289484;
}